.coin-select {
  margin: 10px 0;

  .coin-option-input {
    margin: 10px -2px;
  }
  
  .coin-option {
    margin: 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    
    .label {
      text-align: left;
      position: absolute;
      left: 40px;
      width: 160px;
      text-transform: uppercase;
      line-height: normal;
      margin-top: -1px;
    }

    img {
      height: 32px;
      width: 32px;
    }
  }
}