.review-step {
  .section {
    margin-bottom: 20px;

    .section-title {
      width: 100%;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    @media (min-width: 992px) {
      &> .col-lg-6:last-child {
        border-left: 1px solid #CCC;
      }
    }

    .review-row {
      .label {
        text-align: left;
        font-weight: bold;
      }
      .value {
        text-align: right;
        overflow-wrap: break-word;
      }
    }
  }

  .comments {
    .section-title {
      font-size: 1.2em;
    }

    .form-group {
      margin: auto;
      width: 80vw;
      @media (min-width: 992px) {
        width: 50vw;
      }

      textarea {
        resize: none;
      }
    }
  }
}