.checkout {
  .col-6 {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;

    button.btn.btn-link {
      padding: 0;
      img {
        width: 100%;
        &.disabled {
          opacity: 0.5;
        }
      }
    }

    .notification {
      color: #888;
      font-size: .8em;
      margin-top: 10px;
    }
  }

  .checkout-details {
    max-width: 550px;
    margin: auto;
    align-items: center;
    margin-bottom: 60px;
    .row {
      &:last-child {
        font-size: 1.2em;
      }
      .col-8 {
        text-align: left;
        font-weight: bold;
      }
      .col-4 {
        text-align: right;
        font-weight: bold;
      }
    }
  }
}